body {
    background-color: rgb(207, 214, 234);
}
.primary-navigation ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 25px;
}
h1 {
    color: rgb(34, 42, 104);
    font-family: Jazzier, Garamond, serif;
}
h2 {
    color: rgb(87, 74, 226);
    font-family: Jazzier, Garamond, serif;
}