h1 {
    color: coral;
    font-family: Jazzier, Garamond, serif;
    text-align: center;
}
h2 {
    font-family: Jazzier, Garamond, serif;
    text-align: center;
}
h3 {
    font-family: Jazzier, Garamond, serif;
    text-align: center;
    line-height: 1.4rem;
}
.primary-navigation ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 25px;
}
main {
    text-align: center;
}
ul {
    list-style: none;
}